---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SocialLinks } from '../consts'
import { Icon } from 'astro-icon/components'
import BlogCard from '../components/BlogCard.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 4)
---

<BaseLayout>
	<main
		class="app-container flex flex-col gap-12 justify-center py-36 md:py-48 pt-44 md:pt-56 relative"
	>
		<div>
			<p class="block text-3xl opacity-70 mt-9 mb-4">Hi!, I'm</p>
			<h1 class="text-8xl font-bold leading-none">Javier Jia</h1>
		</div>
		<div class="text-xl max-w-3xl font-light leading-relaxed space-y-2">
			<p>Module Leader - CHC5056 Innovative Product Development</p>
			<p>BSc (Hons) Computer Science and BSc (Hons) Software Engineering</p>
			<p>Chengdu University of Technology & Oxford Brookes University</p>
		</div>
		<div class="flex flex-wrap gap-8">
			{
				SocialLinks.map((link) => (
					<a
						class="text-xl text-primary dark:text-primary-dark underline hover:underline underline-offset-4"
						href={link.url}
						target="_blank"
					>
						{link.name}
					</a>
				))
			}
		</div>
	</main>

	<!-- Recent Posts Section -->
	<section class="app-container">
		<h2 class="section-title">Recent Posts</h2>
		<div class="posts-grid-container">
			{posts.map((post) => <BlogCard post={post} />)}
		</div>
		<a class="btn-secondary" href="/blog"
			>Read All
			<Icon size={20} name="mdi:arrow-right" />
		</a>
	</section>

	<!-- Recent Posts Section -->
	<section class="app-container py-42 grid lg:grid-cols-2 gap-28 lg:gap-10">
		<div class="space-y-6">
			<h2 class="section-title">Explore IPD Platform</h2>
			<p class="text-lg max-w-xl pb-4">
				Innovative Product Development platform - a comprehensive resource for
				students and educators in product development and software engineering.
			</p>
			<a
				class="btn-secondary"
				href="https://ipd.cdut-sinobritish.com/"
				target="_blank"
				>Go to IPD Platform
				<Icon size={20} name="mdi:arrow-right" />
			</a>
		</div>
		<div class="space-y-6">
			<h2 class="section-title">Get in touch</h2>
			<p class="text-lg max-w-xl">
				Feel free to reach out via email for collaboration or inquiries.
			</p>
			<div class="flex flex-wrap mt-auto">
				<a
					class="btn-primary"
					href="mailto:javier@zy.cdut.edu.cn"
					target="_blank"
					>Get in touch
					<Icon height={20} name="mdi:email" />
				</a>
			</div>
		</div>
	</section>
</BaseLayout>
